.header {
  position: relative;
  z-index: 2;
  width: 100%;
}
.icon {
  width: 100%;
  display: inline;
}

.icon img {
  float: left;
  display: inline;
  width: 20%;
}
.dropdown {
  float: right;
  display: inline;
}
.dropdown-section select {
  background-color: #00000066;
  color: white;
  padding: 0.5% 1%;
  border: 1px white solid;
  border-radius: 3px;
}
.buttons {
  padding: 0% 5% 0% 0%;
}
.buttons button {
  float: right;
  display: inline;
  background-color: #ef0914;
  color: white;
  padding: 0.5% 1%;
  border-radius: 3px;
}
@media (max-width: 750px) {
  .icon img {
    float: left;
    display: inline;
    width: 25%;
  }
}
@media (max-width: 500px) {
  .icon img {
    float: left;
    display: inline;
    width: 40%;
  }
}
