<header class="container">
  <div class="row d-flex">
    <div class="header">
      <div class="icon">
        <img class="pt-3 ps-5" src="../../assets/logo.png" alt="" />
      </div>
      <div class="buttons">
        <div class="button pt-3">
          <button (click)="signin()">Sign in</button>
        </div>
      </div>
      <div class="dropdown-section">
        <select class="dropdown me-3" name="" id="">
          <option selected value="">English</option>
          <option value="">Hindi</option>
        </select>
      </div>
    </div>
  </div>
</header>
