<div class="home-mainSection">
  <div class="home-component">
    <app-header></app-header>
    <div class="displayContentMain">
      <!-- Section One -->
      <div class="sectionOneContent">
        <h1 class="text-center">Unlimited movies, TV shows and more.</h1>
        <h2 class="text-center">Watch anywhere. Cancel anytime.</h2>
        <h3 class="text-center">
          Ready to watch? Enter your email to create or restart your membership.
        </h3>
        <div class="sectionOneInput text-center mt-5">
          <input type="text" class="me-1 p-2" placeholder="Email Address" />
          <button class="ms-1 p-2">
            Get Started <i class="fa-solid fa-greater-than"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- Section Two -->
    <div class="sectionTwoContent">
      <div class="sectionTwoChild">
        <div class="sectionTwoText">
          <h1>Enjoy on your tv</h1>
          <p>
            Watch on smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray
            players and more.
          </p>
        </div>
        <div class="sectionTwoMedia">
          <img src="../../assets/tv.png" alt=""/>
          <video src="../../assets/video1.m4v" autoplay></video>
        </div>
      </div>
    </div>
  </div>
</div>
